.control {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 10px;
}

.select {
  /* Reset Select */
  appearance: none;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: .5em 1em;
  background-color: #eee;
  background-image: none;
  border: 1px solid #34495e;
  border-radius: 5px;
  cursor: pointer;
}
/* Remove IE arrow */
.select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  border-radius: .25em;
  padding: 0;
  overflow: hidden;
}
/* Arrow */
.select-wrapper::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  color: #f39c12;
  padding-top: .5em;
  padding-left: .5em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
  transition: all .15s ease-in-out;
  transition-property: color, background-color, padding-top;
  transition: transform 0s;
}
/* Transition */
.select-wrapper:hover::after {
  color: #34495e;
  background-color: #f39c12;
  padding-top: .6em;
}

.select-wrapper:active::after {
  transform: rotate(180deg);
}

@media (max-width: 670px) {
  .control {
    grid-template-columns: 100%;
    justify-items: center;
  }
}