.todo {
  position: relative;
  align-items: center;
  line-height: 1.5;
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all .15s ease-in-out;
  transition-property: background-color, transform;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
    transform: translateY(-5px);
  }

  label {
    line-height: 1.5;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  label:hover {
    color: #f39c12;
  }

  label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #34495e;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    transition: border-color .15s ease-in-out;
  }

  label:hover::before {
    border-color: #f39c12;
  }

  input:checked + label:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #f39c12;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: all .15s ease-in-out;
    transition-property: border-color, top;
  }

  input:checked + label:hover::after {
    top: 1px;
    border-color: #34495e;
  } 

  button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    color: #f39c12;
    background-color:#34495e;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all .15s ease-in-out;
    transition-property: color, background-color, top;
  }

  button:hover {
    top: 3px;
    color: #34495e;
    background-color: #f39c12;
  }

  button:active {
    color: #34495e;
    background-color: #c07e14;
  }

  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
}

.todo:not(:last-of-type) {
  margin-bottom: 10px;
}
